table,th,tr,td{
	border-collapse:collapse;
	border:2px solid #ffffff;
	text-align:left;
}
th{
	color:#fff;
	background: #000;
}
.gray{
	background-color:gray;
}
.red{
	color:red;
}

.box1{
	width: 200px;
	height: 50px;
	border:1px solid gray;
	margin:80px 20px;
}
.box2{
	width: 300px;
	height: 50px;
	border: 2px solid #35a5e5;
	box-shadow:0 0 5px rgba(81,203,238,1);
	margin:40px;
}
.box3{
	width: 400px;
	height:200px;
	margin: 40px;
}
.box00{
	width: 40px;
	height: 40px;
	background: #fff;
	opacity: 0.5;
	text-align: center;
	float: right;
	margin-top: 160px;
	margin-left:5px;
	line-height: 40px;
	font-size: 30px;
}

.green{
	background: green;
}
.blue{
	background:blue;
}
.mix{
	background:green;
	background-size: 200px 200px;
	
}
