
#back{
	margin: 20px ;
	padding:20px;
	background:#eee;
	border:1px solid #999;
	min-height: 500px;

	}
	

#left{
	border: 1px solid;
	width: 200px;
	background: white;
	position:relative;
	float: left;
}
#name{
	position: absolute;
	border: none;
	right: 20px;
	top: 20px;
}
#center{
	background: white;
	position: absolute;
	left: 280px;
	right: 180px;
	padding: 20px;
	border: 1px solid #999;	
}	

#right{
	position:absolute;
	right: 40px;
	top: 40px;
	width: 120px;
	border: 1px solid #999;
	
}

.picture{
		width: 80px;
		height: 80px;
		display: block;
		margin: 20px;
	}


