
#back{
	margin: 20px ;
	padding:20px;
	background:#eee;
	border:1px solid #999;
	overflow: auto;

	}
	

#left{
	border: 1px solid;
	width: 200px;
	background: white;
	position:relative;
	float: left;
}
#right{
	float: right;
	width: 120px;
	border: 1px solid #999;
}	
#name{
	position: absolute;
	border: none;
	right: 20px;
	top: 20px;
}
#center{
	background: white;
	
	margin-left: 240px;
	margin-right: 180px;
	padding: 20px;
	border: 1px solid #999;	
}	



.picture{
		width: 80px;
		height: 80px;
		display: block;
		margin: 20px;
	}


